.container{
    width: 100%;
    height: 150vh;
    display:flex;
    flex-direction: column;
}
.profile{
    font-size: 14px;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-top:100px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    text-transform: capitalize;
}
.list{
    font-size: 18px;
    font-weight: 500;
    margin-left: 80px;
    margin-bottom: 50px;
}
.recipe{
    margin-left: 80px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image {
    cursor: pointer;
    transition: 400ms;
    width:200px;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0,0.5);
}
.Card button{
    padding:1px 5px 1px 5px;
    text-align: center;
    margin-left: 5px;
    top:25px;
    z-index: 10;
    position:relative;
    cursor: pointer;
    transition: 400ms;
}
.Card button:hover{
    content: 'delete';
    transform: translateY(4px);
}
.delete{
    background-color:none;
    border:1px solid #EFC81A;
    color: #3F3A3A;
    border-radius: 5px;
}
.edit{
    /* background-color: #2E266F; */
    border:1px solid #2E266F;
    color: #3F3A3A;
    border-radius: 5px;
}
.image:hover{
    transform:scale(105%);
}
.image p {
    text-transform: capitalize;
    position: absolute;
    text-align: left;
    margin-top: -50px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    background: #FCFCFC66;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0,0.5);
    border-radius: 5px;
    padding:3px;
    max-width: 200px;
}